.Etapa {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    width: 30%;
    height: 600px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: black 2px 2px 50px;
    
}

.Container {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.Titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Dados {
    margin-top: -80px;
}

button {
    width: 120px;
    height: 50px;
    font-size:medium;
    background-color: white;
    border: 1px solid rgb(179, 179, 179);
    transition: all 1s ease;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1000;
    margin-left: 46%;
    
    
}

button:hover {
    transition: all 0.3s ease;
    border-radius: 10px;
    background-color: rgb(179, 179, 179);
}

input {
    width: 450px;
    height: 25px;
    border: none;
    border-bottom: 1px solid rgb(107, 107, 107);
    outline: none;
}
select {
    width: 175px;
    height: 30px;
}

.supremo {
    background-image: linear-gradient(to right, rgb(61, 74, 255) , rgb(197, 0, 197));
}