.container {
  display: grid;
  grid-template-columns: 15vw 70vw 15vw;
  grid-template-rows: 10vh 80vh 10vh;
}

.whatslab {
  display: grid;
  grid-template-columns: 1.5fr 4fr;
  grid-template-rows: 1fr 7fr 1fr;
  grid-column: 2/3;
  grid-row: 2/3;
  border: 1px black solid;
}

header {
  grid-row: 1/2;
  grid-column: 1/3;
}